<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.cau.goodbody">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Leg2listActivity">
        </activity>
        <activity android:name=".Leg1listActivity">
        </activity>
        <activity android:name=".Che1listActivity">
        </activity>
        <activity android:name=".Arm1listActivity">
        </activity>
        <activity android:name=".RecommendExrActivity">
        </activity>
        <activity android:name=".ViewDetailExrActivity">
        </activity>
        <activity android:name=".Exr_MainActivity">
        </activity>
        <activity android:name=".AllExerciseActivity">
        </activity>
        <activity android:name=".WorkoutSelectActivity">
        </activity>
        <activity
            android:name=".MainEActivity"
            android:label="@string/title_activity_main_e"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".InbodySelectActivity">

        </activity>
        <activity android:name=".MealCalendarActivity" />
        <activity android:name=".ShowInbodyResultActivity" />
        <activity android:name=".SearchMealActivity" />
        <activity android:name=".RecordMealActivity" />
        <activity android:name=".MealRecommendation" />
        <activity android:name=".ResultTextRecordActivity" />
        <activity android:name=".TextRecordActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".DetailRecordActivity" />
        <activity android:name=".SearchWorkoutActivity" />
        <activity android:name=".RecordWorkoutActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginCombActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BaseActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>